.solution_advantages {
  position: relative;
  height: 86vh;
  padding-top: 2%;
}

.solution_advantages_title {
  font-size: 30px;
  margin-bottom: 20px;
}

.solution_advantages_text {
  margin-bottom: 20px;
}