.video_button_next {

  background-color: #eac28c;
  color: #000519;
  border: none;
  font-size: 25px;
  font-family: 'Archivo Narrow, sans-serif';
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 1s;
  margin-right: 15px;
  padding: 10px 20px;
}

.video_button_next:hover {
  background-color: #a88b64;
}

.video_button_pass {
  background-color: #fff;
  color: #000519;
  border: none;
  font-size: 25px;
  font-family: 'Archivo Narrow, sans-serif';
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 1s;
  padding: 10px 20px;
}

.video_button_pass:hover {
  background-color: rgb(187, 187, 187);
}

.guaranteed_saving_solution {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
}

.guaranteed_saving_solution_list-item {
  margin-bottom: 10px;
  cursor: pointer;
}

.guaranteed_saving_solution_title_big {
  font-size: 30px;
}

.video_img {
  width: 500px;
  height: auto;
  margin-left: 10px;
}


@media (max-width: 768px) {
  .guaranteed_saving_solution {
    display: block;
  }

  .video_button_next {

    height: auto;
    font-size: 18px;
  }

  .video_button_pass {

    height: auto;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .video_img {
    width: 500px;
    height: auto;
  }
}

@media (max-width: 425px) {
  .video_img {
    width: 300px;
    height: auto;
  }

  .guaranteed_saving_solution {
    display: block;
  }

  .video_button_next {

    height: auto;
    font-size: 18px;
  }

  .video_button_pass {

    height: auto;
    font-size: 18px;
  }
}