.modify_parameters {
  position: relative;
  height: 82vh;
  display: flex;
  flex-direction: column;
}

.modify_parameters_text {
  display: flex;
  align-items: center;
}

.modify_parameters_text:last-child {
  margin-bottom: 20px;
}