.half_guaranteed_for_whom {
  position: relative;
  height: 82vh;
  display: flex;
  flex-direction: column;
}

.half_guaranteed_for_whom_title {
  font-size: 30px;
  margin-bottom: 20px;
}

.half_guaranteed_for_whom_text {
  margin-bottom: 20px;
}