.wrapper_house {
  position: relative;
  height: 82vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.housing {
  display: flex;
  align-items: center;
}

.housing_text {
  margin-right: 150px;
}

.housing_animation {
  background-color: white;
  border-radius: 150px;
  margin-left: 20px;
  width: 300px;
  height: auto;
  margin: 0 auto;
}

.housing_title {
  font-size: 30px;
}

@media (max-width: 768px) {
  .housing {
    display: block;
  }

  .housing_text {
    margin-right: 0;
  }

}

@media (max-width: 425px) {
  .housing {
    display: block;
  }

  .housing_title {
    font-size: 20px;
  }

  .housing_animation {

    width: 150px;
    height: 150px;

  }
}