.choose_solution {
  position: relative;
  height: 86vh;
  padding-top: 5%;
}

.choose_solution_text {
  margin-bottom: 20px;
}

.choose_solution_title {
  font-size: 30px;
}

.choose_solution_blocks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.choose_solution_block_wrapper {
  display: flex;
  flex-direction: column;
}

.choose_solution_list-item {
  margin: 0;
}

.choose_solution_block:not(:last-child) {
  margin-right: 30px;
}

.choose_solution_block {
  display: flex;
  align-items: center;
  min-width: 300px;
}

.choose_solution_block-title {
  white-space: pre-line;
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  /* .pop_up_triger {
    display: none;
  } */

  .choose_solution_blocks {
    display: inline;
    align-items: flex-start;
    justify-content: inherit;
  }

  .choose_solution_block:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .choose_solution_block_wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }

  .choose_solution_block {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .choose_solution_block-title {
    white-space: normal;
    margin-bottom: 30px;
    text-align: inherit;
  }
}

@media (max-width: 1024px) {
  .choose_solution_blocks {
    flex-wrap: nowrap;
  }
}

@media (max-width: 425px) {
  /* .pop_up_triger {
    display: none;
  } */

  .choose_solution_blocks {
    display: inline;
    align-items: flex-start;
    justify-content: inherit;
  }

  .choose_solution_block:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .choose_solution_block_wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }

  .choose_solution_block {
    display: flex;


    justify-content: space-between;

  }

  .choose_solution_block-title {
    white-space: normal;
    margin-bottom: 30px;
    text-align: inherit;
  }
}