.user_personal_info {
  position: relative;
  height: 82vh;
  display: flex;
  flex-direction: column;
}

.user_personal_info_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  flex-wrap: wrap;
}

.input_field-percent {
  height: 35px;
  width: 55px;
  background-color: transparent;
  color: #fff;
  border: 1px solid;
  padding-left: 15px;
  font-size: 17px;
  font-family: 'Archivo Narrow';
}

.percent_block {
  margin-left: 15px;
}

.user_personal_info_profession-set {
  display: flex;
  justify-content: space-between;
}

.user_personal_info_text {
  margin: 45px 0 20px;
}

@media (max-width: 1024px) {
  .user_personal_info {
    overflow-y: scroll;
  }
  .user_personal_info .containerButtonPosition {
    width: 100%;
    background-color: black;
  }
}

@media (max-width: 320px) {
  .user_personal_info .containerButtonPosition {
    padding: 0;
    bottom: 15px;
  }
}

@media (max-width: 280px) {
  .user_personal_info .containerButtonPosition {
    padding-top: 5px;
    bottom: 10px;
  }
}
