.additional-guaranties {
  position: relative;
  height: 82vh;
  display: flex;
  flex-direction: column;
}

.additional-guaranties_title {
  font-size: 30px;
}

.additional-guaranties_text {
  margin-bottom: 20px;
  white-space: pre-line;
}

.bold_title {
  font-weight: bold;
}

@media (max-width: 425px) {
  .additional-guaranties_title {
    font-size: 20px;
  }
}