.half-optimal-proportion {
  position: relative;
  height: 82vh;
  display: flex;
  flex-direction: column;
}

.half-optimal-proportion_percents {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.circle_button {
  position: relative;
  margin: 0 70px;
}

.circle {
  position: absolute;
  left: 21%;
  top: 21%;
  width: 150px;
  height: 150px;
  border: 10px solid;
  border-radius: 50%;
}

.percent {
  font-size: 55px;
  cursor: pointer;
}

.proportion_percent {
  text-align: center;
}

.switch_button {
  transition: transform 1s;
}

.rotate40 {
  transform: rotate(80deg);
}

.rotate60 {
  transform: rotate(-80deg);
}

.error_block_position {
  position: absolute;
  bottom: 20%;
  right: 5%;
  max-width: 450px;
  display: flex;
  align-items: center;
  font-size: 20px;
}


@media (max-width: 425px) {

  .half-optimal-proportion_percents {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 5px;
  }

  .percent {
    font-size: 30px;

  }

  .circle_button {
    position: relative;
    margin: 0 0px;
  }

  .error_block_position {
    position: absolute;
    bottom: 16%;
    right: 5%;
    max-width: 215px;
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  .error_img {
    width: 50px;
  }

}

@media (max-width: 375px) {
  .switch_img {
    width: 100px;
    height: auto;
    margin: 0 20px;
  }

  .half-optimal-proportion_percents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .percent {
    font-size: 30px;

  }

  .circle_button {
    position: relative;
    margin: 0 0px;
  }

  .error_block_position {
    position: absolute;
    bottom: 9%;
    right: 5%;
    max-width: 215px;
    display: flex;
    align-items: center;
    font-size: 12px;
  }

}