.welcome {
  display: flex;
  align-items: center;
  /* padding: 20px 140px; */
  justify-content: space-between;
}

.welcome_text {
  max-width: 800px;
  padding-left: 10px;
}

.welcome_text_title {
  display: block;
  font-size: 30px;
}

.next_button {
  background-color: #eac28c;
  color: #000519;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  transition: background-color 1s;
}

.next_button:disabled {
  background-color: grey;
}

.next_button:disabled:hover {
  background-color: grey;
}

.next_button:hover {
  background-color: #a88b64;
}

@media (max-width: 768px) {


  .welcome_image {
    display: none;
  }


}

@media (max-width: 425px) {
  .welcome {
    display: flex;
    align-items: center;
    /* padding: 25px; */
    justify-content: space-between;

  }

  .welcome_image {
    display: none;
  }

  .welcome_text_title {
    display: block;
    font-size: 20px;
  }


  .next_button {
    font-size: 20px;
  }

}

@media (max-width: 320px) {
  .next_button {
    background-color: #eac28c;
    color: #000519;
    padding: 10px 25px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 1s;
    margin-right: 10px;
  }
}