.self-employed {
  position: relative;
  height: 82vh;
  display: flex;
  flex-direction: column;
}

.self-employed_salary {
  width: 100px;
  height: 40px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.self-employed_salary_range {
  display: block;
}

.self-employed_inputs_set {
  display: flex;
  align-items: center;
}

@media (max-width: 425px) {
  .self-employed_salary {
    width: 60px;
    height: 25px;
    font-size: 12px;
  }

}