.resume {
  position: relative;
  height: 82vh;
  display: flex;
  flex-direction: column;
}

.resume_text {
  margin-bottom: 20px;
}

@media (max-width: 540px) {
  .resume .containerButtonPosition {
    bottom: 1px;
  }
}
