.difference {
  position: relative;
  height: 82vh;
  display: flex;
  flex-direction: column;
}

.difference_title {
  margin-bottom: 70px;
}

.difference_text {
  display: flex;
}

.difference_block {
  padding-left: 30px;
}

.difference_block_desc {
  display: flex;
  align-items: center;
  height: 265px;
}

.desc-img {
  width: 150px;
}

.difference_block:first-child {
  padding-right: 30px;
  border-right: 1px solid #fff;
}


.button_discover {
  /* width: 400px;
  height: 40px; */
  background-color: #eac28c;
  color: #000519;
  border: none;
  font-size: 25px;
  font-family: 'Archivo Narrow';
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 1s;
  margin-right: 15px;
  padding: 10px 20px;
}

.button_discover:hover {
  background-color: #a88b64;
}

.button_recalculate {
  /* width: 400px;
  height: 40px; */
  padding: 10px 20px;
  background-color: #fff;
  color: #000519;
  border: none;
  font-size: 25px;
  font-family: 'Archivo Narrow';
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 1s;
}

.button_recalculate:hover {
  background-color: #a88b64;
}

@media (max-width: 768px) {
  .difference_block:first-child {
    padding-right: 30px;
    border: none;
  }

  .difference_text {
    display: block;
  }

  .difference_block_desc {
    height: 205px;
  }

}

@media (max-width: 425px) {
  .difference_text {
    display: block;
  }

  .desc-img {
    width: 100px;
  }

  .button_recalculate {
    width: 180px;
    height: auto;
    font-size: 18px;
  }

  .button_discover {
    width: 180px;
    height: auto;
    font-size: 18px;
  }

  .difference_block:first-child {
    padding-right: 30px;
    border: none;
  }

  .difference_title {
    margin-bottom: 27px;
  }

  .difference_block_desc {
    height: 140px;
  }
}

@media (max-width: 320px) {
  .desc-img {
    width: 60px;
  }
}