.half_guaranteed_solution {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin-bottom: 35px;
}

.half_guaranteed_solution_list-item {
  margin-bottom: 10px;
  cursor: pointer;
}

.half_guaranteed_solution_title_big {
  font-size: 30px;
}

@media (max-width: 1024px) {
  .half_guaranteed_solution {
    display: block;
  }
}

@media (max-width: 768px) {
  .half_guaranteed_solution {
    display: block;
  }
}

@media (max-width: 425px) {
  .video_img {
    width: 300px;
    height: auto;
  }

  .half_guaranteed_solution {
    display: block;
  }

  .half_guaranteed_solution_list-item::after {
    height: 10px;
    width: 10px;
    content: url(/src/image/arrow-down-l.svg);
    background-size: contain;
    padding-left: 6px;
    margin-top: 1px;
  }

  .half_guaranteed_solution_list {
    margin: 50px 0;
  }

  .close-video {
    height: 30px;
    width: 30px;
  }

  .video_content {
    width: 340px;
    height: auto;
  }
}

@media (max-width: 360px) {
  .half_guaranteed_solution_list {
    margin: 20px 0;
  }

  .video_wrapper .containerButtonPosition1 {
    bottom: 0;
  }
  .video_wrapper .containerButtonPosition1 .button_position {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 375px) {
  .video_wrapper .containerButtonPosition1 {
    bottom: -30px;
  }
}
