.half_guaranteed_solution {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin-bottom: 35px;
}

.half_guaranteed_solution_list-item {
  margin-bottom: 10px;
  cursor: pointer;
}

.half_guaranteed_solution_title_big {
  font-size: 30px;
}

@media (max-width: 1024px) {
  .half_guaranteed_solution {
    display: block;
  }
}

@media (max-width: 768px) {
  .half_guaranteed_solution {
    display: block;
  }
}

@media (max-width: 425px) {
  .half_guaranteed_solution {
    display: block;
  }
}