.half_guaranteed_advantages {
  position: relative;
  height: 86vh;
  padding-top: 1%;
}

.half_guaranteed_advantages_title {
  font-size: 30px;
  margin-bottom: 20px;
}

.half_guaranteed_advantages_text {
  margin-bottom: 20px;
}