.wrapper_abroad {
  position: relative;
  height: 82vh;
  display: flex;
  flex-direction: column;
}

.abroad {
  display: flex;
  align-items: center;
}

.abroad_title {
  font-size: 30px;
}

.abroad_text {
  margin-right: 25px;
}

.abroad_animation {
  background-color: white;
  border-radius: 150px;
  margin-left: 20px;
  width: 300px;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .abroad {
    display: block;
  }
}

@media (max-width: 425px) {
  .abroad {
    display: block;
  }

  .abroad_title {
    font-size: 20px;
  }

  .abroad_animation {
    width: 150px;
    height: 150px;
  }
}