.tax {
  display: flex;
  align-items: center;
}

.tax_title {
  font-size: 40px;
}

.pop_up_triger {
  color: white;
}

.tax_animation {
  background-color: white;
  border-radius: 150px;
  margin-left: 20px;
  width: 300px;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .tax {
    display: block;
  }
}

@media (max-width: 425px) {
  .tax {
    display: block;
  }
}