.wrapper_tax {
  position: relative;
  height: 82vh;
  display: flex;
  flex-direction: column;
}

.tax {
  display: flex;
  align-items: center;
}

.tax_title {
  font-size: 30px;
}

.tax_text {
  margin-right: 150px;
}

.pop_up_triger {
  color: white;
}

.tax_animation {
  background-color: white;
  border-radius: 150px;
  margin-left: 20px;
  width: 300px;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .tax {
    display: block;
  }

  .tax_text {
    margin-right: 0;
  }
}

@media (max-width: 425px) {
  .tax {
    display: block;
  }

  .tax_title {
    font-size: 20px;
  }

  .tax_animation {
    display: none;
  }

  #lottie {
    height: 150px !important;
    width: 150px !important;
  }
}