.user_contact_info {
  position: relative;
  height: 82vh;
  display: flex;
  flex-direction: column;
}

.error_valid {
  padding-left: 10px;
  color: rgb(109, 0, 0);
  font-size: 19px;
}

.user_contact_info_inputs_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 40px 0;
  flex-wrap: wrap;
}

.user_contact_info_text {
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
  .user_contact_info {
    overflow-y: auto;
  }
  .user_contact_info .containerButtonPosition {
    bottom: 10px;
    width: 100%;
    background-color: #000519;
  }
}
@media (max-width: 375px) {
  .user_contact_info {
    overflow-y: hidden;
  }
}

@media (max-width: 320px) {
  .user_contact_info {
    overflow-y: auto;
  }

  .user_contact_info .containerButtonPosition {
    padding-top: 15px;
    bottom: -35px;
  }
}

@media (max-width: 425px) {
  .user_contact_info_inputs_block {
    flex-wrap: wrap;
  }
}
