.employee {
  position: relative;
  height: 82vh;
  display: flex;
  flex-direction: column;
}

.employee_salary_range {
  display: block;
}

.employee_salary {
  width: 100px;
  height: 40px;
  font-size: 17px;
  padding-left: 17px;
}

.employee_inputs_set {
  display: flex;
  align-items: center;
}

.gold_text {
  color: #eac28c;
}

@media (max-width: 425px) {
  .button_position-1 {
    left: 20px;
  }
}