* {
  box-sizing: border-box;
}

body {
  background-color: #000519;
  color: #fff;
  font-size: 35px;
  font-family: 'Archivo Narrow, sans-serif';
}

.nav {
  color: #fff;
}

.step-component {
  padding: 20px 140px;
}

.btn-component {
  padding: 0 140px;
}

.App {
  padding: 20px 140px;
  overflow: scroll;
  padding-bottom: 80px;
  height: 100vh;
}

.phone_img {
  width: 250px;
  height: auto;
}

@media (max-width: 376px) {

  body {
    font-size: 20px;
  }

  .App {
    padding: 20px;
    overflow: scroll;
    padding-bottom: 70px;
  }

  .title {
    font-size: 25px !important;
  }
}