* {
  box-sizing: border-box;
}

body {
  background-color: #000519;
  color: #fff;
  font-size: 24px !important;
  font-family: "Archivo Narrow" !important;
  line-height: 1.8;
}

a {
  font-size: 24px;
}

.nav {
  color: #fff;
}

.step-component {
  padding: 20px 140px;
}

.btn-component {
  padding: 0 140px;
}

.progress_change {
  cursor: pointer;
}

.App {
  padding: 20px 140px 55px;
  height: 99vh;
}

.phone_img {
  width: 250px;
  height: auto;
}

button {
  font-size: 26px !important;
  font-family: "Archivo Narrow" !important;
}


.button_position {
  margin-bottom: 20px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.609);
}

li {
  margin-bottom: 17px;
}

.page {
  position: relative;
}


.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transform: translate(0, 100%);
  margin-top: 50vh;
  transition: opacity 500ms transform 500ms margin-top 500ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transform: translate(-100%);
  transition: opacity 500ms, transform 500ms;
}

.Mui-disabled {
  display: none;
}


.stepper {
  position: fixed;
  top: 0;
  background: #000519;
  width: 100%;
  padding-top: 20px;
}


@media (min-width: 1800px) {
  body {
    font-size: 50px;
  }

  .App {
    padding: 40px 99px 55px;
  }

  .title {
    font-size: 55px !important;
  }
}

@media (max-width: 1024px) {
  .App {
    padding: 20px 120px 55px;
  }
}

@media (max-width: 768px) {
  .App {
    padding: 20px 100px 55px;
  }
}

@media (max-width: 425px) {
  body {
    font-size: 15px !important;
  }

  .App {
    padding: 20px 20px 55px;
  }

  .title {
    font-size: 20px !important;
  }

  a {
    font-size: 15px;
  }

  button {
    font-size: 15px !important;
    font-family: "Archivo Narrow" !important;
  }

  /* .button_position {
    position: absolute;
    bottom: 10px;
  } */
}

@media (max-width: 375px) {
  /* .button_position {
    bottom: 7%;
  } */
}